.home-container{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container{
    width:  80%;
    height: 10rem;
    border: 1px solid blue;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    margin: 50px 0;
}

.avatar{
    margin-right: 25px;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 50%;
}

.headerText{
    padding: 1rem;
    border: 1px solid salmon;
    display: flex;
    flex-direction: column;
}

.headerText h1 {
    color: rgba(0, 0, 0, 0.801);
    margin-bottom: 0;
    font-size: 45px
}

.headerText p{
    color: gray;
    font-size: 15px;
    font-style: italic;
}

.main-container{
    width: 80%;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 1rem;
}
.main-addUser{
    border: 1px solid green;
    height: 4rem;
    padding: 2rem;
    
}

.main-addUser-text{
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}

.main-addUser-text p{
    color: gray;
    font-size: 18px;
    font-style: italic;
}
