.client-container{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-containerC{
        height: 10rem;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 1.5rem;
        margin: 50px 0;
}

.headerTextC{
    padding: 25px 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 100%;
    width: 100%;
}

.headerTextC h1{
   font-size: 45px;
   font-style: italic;
}

.header-icons{
    height: 60px;
    padding: 5px 1px;
    display: flex;
    justify-content: space-around;
}

.header-icons Button {
    margin: 3px 3px;
}

.client-main-container{
    border: 2px solid rgba(135, 174, 206, 0.411);
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.client-card{
    display: flex;
    background-color: rgba(133, 172, 199, 0.226);
    flex-direction: column;
    justify-content: center;
    height: 125px;
    margin: 10px 0;
}

.card-header{
    padding: 3px 13px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
}
.card-footer span:nth-child(1){
    flex: 1;
}
.card-footer span:nth-child(2){
    flex: 3;
    text-align: center;
}
.card-footer span:nth-child(3){
    flex: 1;
}
